body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.login-container {
    width: 35%;
    margin: 9% auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 25px;
}

.login-container p {
    font-size: 24px;
    text-align: center;
}

.navbar {
    background-color: #1F4E79;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.form-control {
    margin-top: 16px;
}

input[type="text"],
input[type="password"],

textarea {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

input, select {
    color: black;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    position: relative;
    color: black;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 2em;
    border: 3px solid #37743a;
    padding: 0.5em 1em;
    border-radius: 0.2rem;
}

.radio-group label:before {
    content: "";
    height: 1em;
    width: 1em;
    border: 3px solid #37743a;
    border-radius: 50%;
}

.radio-group input[type="radio"]:checked + label:before {
    height: 0.5em;
    width: 0.5em;
    border: 0.325em solid #fff;
    background-color: #4CAF50;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #37743a;
    color: #fff;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #429946;
    transition: 0.5s;
}

.login-btn:active {
    background-color: #6dbf71;
    transition: 0.2s;
}

.menu-icon a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.menu-icon:hover a {
    color: white;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar-nav a:hover {
    color: white;
    font-weight: bold;
}

.logout a {
    font-weight: bold;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #163d5c;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.side-nav a {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transform: scaleX(1);
}

.side-nav a:hover {
    background-color: #285b86;
    transition: 0.3s;
    transform: scaleX(1.07);
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}

.error-control {
    width: auto;
    height: fit-content;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid #ccc;
}

.success-control {
    width: auto;
    height: fit-content;
    padding: 10px;
    text-align: center;
    background-color: rgba(100, 255, 100, 0.3);
    border: 1px solid #ccc;
}

.container {
    width: 65%;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 25px;
}

.container p {
    font-size: 24px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

.button-control {
    margin-top: 20px;
    display: flex;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #1F4E79;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: #163d5c;
    transition: 0.3s;
}

.batal {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.batal:hover {
    background-color: #bb202f;
    transition: 0.3s;
}

.tambah {
    background-color: #4CAF50;
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.tambah:hover {
    background-color: #429946;
    transition: 0.3s;
}

.edit-action {
    background-color: #285b86;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.edit-action:hover {
    background-color: #163d5c;
    transition: 0.3s;
}

.hapus-action {
    background-color: #dc3545;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.hapus-action:hover {
    background-color: #bb202f;
    transition: 0.3s;
}

.input-file input[type="file"] {
    display: none;
}

.input-file {
    width: fit-content;
    background-color: #285b86;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.input-file:hover {
    background-color: #163d5c;
    transition: 0.3s;
}

.container-table-control {
    display: flex;
}

.form-cari {
    margin-left: auto;
}

.form-cari select {
    width: 20%;
}

.form-cari input[type="text"],

.form-cari textarea {
    width: 45%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

input, button {
    color: black;
}

.cari {
    padding: 10px;
    background-color: #1F4E79;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cari:hover {
    background-color: #163d5c;
    transition: 0.3s;
}

.reset {
    background-color: #dc3545;
    padding: 10px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.reset:hover {
    background-color: #bb202f;
    transition: 0.3s;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th {
    background-color: #1F4E79;
    color: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profil {
    width: 12vh;
    height: 12vh;
    border: none;
    border-radius: 50%;
}

.profil-preview {
    width: 12vh;
    height: 12vh;
    border: none;
    border-radius: 50%;
}